CREATE DATABASE Test;

Use Test;
CREATE TABLE [dbo].[Users](
	[Id] [int] primary key IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[SurName] [varchar](100) NOT NULL,
	[Age] [decimal](5, 2) NOT NULL,
	[Status] [bit] NULL);
